.v-scroller {
  $block: &;
  display: flex;
  align-items: center;

  &__list {
    /* don't remove the rule bellow it's very important */
    position: relative;
    display: flex;
    padding-left: 0;
    margin: {
      top: 0;
      bottom: 0;
    }
    flex-grow: 1;
    list-style: none;
    overflow: auto;
  }

  &__item {
    flex-shrink: 0;
  }

  &--scrollbar-hidden {
    #{$block}__list {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
